Docuementations/XSD/head.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.02">
    <xs:element name="AppHdr" type="BusinessApplicationHeaderV02"/>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__4">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeader5__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="UnicodeChartsCode">
            </xs:element>
            <xs:element name="Fr" type="Party44Choice__1">
            </xs:element>
            <xs:element name="To" type="Party44Choice__1">
            </xs:element>
            <xs:element name="BizMsgIdr" type="Max35Text">
            </xs:element>
            <xs:element name="MsgDefIdr" type="Max35Text">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizSvc" type="Max35Text">
            </xs:element>
            <xs:element name="CreDt" type="HVPSPlus_DateTime">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeaderV02">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="UnicodeChartsCode">
            </xs:element>
            <xs:element name="Fr" type="Party44Choice__1">
            </xs:element>
            <xs:element name="To" type="Party44Choice__1">
            </xs:element>
            <xs:element name="BizMsgIdr" type="HVPSPlus_RestrictedFINXMax35Text">
            </xs:element>
            <xs:element name="MsgDefIdr" type="Max35Text">
            </xs:element>
            <xs:element name="BizSvc" type="UsageIdentifierPatternText">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctc" type="ImplementationSpecification1">
            </xs:element>
            <xs:element name="CreDt" type="HVPSPlus_DateTime">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplct" type="YesNoIndicator">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="BusinessApplicationHeader5__1">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BusinessMessagePriorityCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__2">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
            </xs:element>
            <xs:element name="MmbId" type="HVPSPlus_IA_RestrictedFINXMax28Text">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
            </xs:enumeration>
            <xs:enumeration value="COPY">
            </xs:enumeration>
            <xs:enumeration value="DUPL">
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__4">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__2">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_IA_RestrictedFINXMax28Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImplementationSpecification1">
        <xs:sequence>
            <xs:element name="Regy" type="Max350Text">
            </xs:element>
            <xs:element name="Id" type="Max2048Text">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party44Choice__1">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification6__5">
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnicodeChartsCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UsageIdentifierPatternText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9]{1,10}\.([a-z0-9]{1,10}\.)+\d\d"/>
            <xs:minLength value="6"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
