XSD/admi.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ISO Accelerator Pack
Collection: IAP_v1.2
Usage Guideline: IAP_v1.2-admi.004.001.02_SystemEventNotification_Broadcast
Base Message: admi.004.001.02
Date of publication: 06 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_Pf2dwPAEEe2DPJUyWR6ZJA/_PkbbwPAEEe2DPJUyWR6ZJA
Description: Scope
The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.
Usage
The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.

This messages can be sent form AND to any users registered into the CUG and may also be distributed to several Participants of the Mi Service via the InterAct distribution list feature.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-22T06:35:01+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SysEvtNtfctn" type="SystemEventNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on an event that happened in a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary code used to specify an event that occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtParam" type="HVPSPlus_RestrictedFINXMax35Text__2_">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the parameters of an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDesc" type="HVPSPlus_RestrictedFINXMax1000Text_Extended">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text used to describe an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTm" type="HVPSPlus_DateTime__2_">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime__2_">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime__2_</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax1000Text_Extended">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax1000Text_Extended</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 1000 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + . that is extended to support the following additional characters !#$%&amp;*=^_`{|}~";&lt;&gt;@[\]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z&#x10A0;-&#x10FB;/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text__2_">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text__2_</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z&#x10A0;-&#x10FB;/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9&#x10A0;-&#x10FB;]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEventNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.&#13;
Usage&#13;
The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtInf" type="Event2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about a system event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
